@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.hobbies {
    background-color: rgb(113, 67, 6);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
}

.hobbiesTitle{
    color: #FAF8F1;
    font-size: 50px;
    margin: 20px;
    margin-top: 40px;
}

.hobbiesCards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:50px;
    margin: 25px;
    height: auto;
    width: 100%;
}
.hobbiesCardFashion{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2000px;
    background-image: url(imagesAbout/Fashion.png);
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.hobbiesCardFineArt{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2000px;
    background-image: url(imagesAbout/FineArt.png);
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}


.hobbiesCardPool{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2000px;
    background-image: url(imagesAbout/Pool.png);
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.hobbiesCardTitle{
    font-size: 150px;
    font-size: "Roboto", sans-serif;
    color: rgb(112, 115, 123);
    margin-bottom: 15px;
}

.hobbiesIma {
    width: 100%;
    height: 325px;
    border-radius: 20px;
    margin-bottom: 10px;
}

@media   all and (max-width: 500px){
    .hobbiesCards{
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 0%;
    }

    .hobbiesCardFashion{
        width: 100%;
        height: 2000px;
        background-image: url(imagesAbout/Fashion.png);
        border-radius: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .hobbiesCardFineArt{
        width: 100%;
        height: 2000px;
        background-image: url(imagesAbout/FineArt.png);
        border-radius: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    
    .hobbiesCardPool{
        width: 100%;
        height: 2000px;
        background-image: url(imagesAbout/Pool.png);
        border-radius: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .hobbiesCardTitle {
        font-size: 55px;
        margin-top: 40%;
        margin-left: 30%;
    }
}